Object.assign(Footer.prototype, { template(){ return `

  <section class="row mt-2 mb-2">
    <div class="col-md-6 py-2 d-none d-md-block">
      <div class="row justify-content-center">
        <div class="col-11 col-md-10 col-lg-10 col-xl-10 color d-flex justify-content-center align-items-center myheight">
          <p class="mb-1"><span class="fa fa-address-card mr-2"></span><span class="d-none d-lg-inline">Adress:</span></p>
          <p class="ml-5 pl-2">
            Biografgatan 12<br> Filmvägen 1<br> 12 022 Filmhamn
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 py-2 ">
      <div class="row justify-content-center">
        <div class="col-11 col-md-10 col-lg-10 col-xl-10 color d-flex justify-content-center align-items-center myheight">
          <div>
            <p class="mb-1 pr-2"><span class="fa fa-facebook mr-3"></span><a href="#">Möt oss på Facebook!</span></a></p>
            <p class="mb-1 pr-2"><span class="fa fa-envelope mr-3"> </span><a href="#">us@filmvisarna.se</a></p>
            <p class="mb-1 pr-2"><span class="fa fa-phone mr-3"></span>Telefon: 040-44 33 44</span>
          </div>
        </div>
      </div>
    </div>
  </section>

`;}});
