Object.assign(Kalendarium.prototype, { template(){ return `

  <section class="col-lg-5 mt-5">
    <h3 class="kalendarium m-0"><i class="fa fa-calendar mr-3" aria-hidden="true"></i>Kalendarium</h3>
    <div class="d-flex flex-nowrap mt-3 main-card kalendariumContainer">
      <div class="bigSal col-6 text-light mt-2">
        <div class="calenderTheaterBorder"><h5><i class="fa fa-film mr-2" aria-hidden="true"></i>Stora Salongen</h5></div>


        ${this.renderShowTime('Wind River', 'Wind1')}
        ${this.renderShowTime('Tjuren Ferdinand', 'Tjuren1')}
        ${this.renderShowTime('Call Me By Your Name', 'Callme1')}
        ${this.renderShowTime('Three Billboards Outside Ebbing, Missouri', 'Missouri1')}

        <!-- Add new movie -->

      </div>

      <div class="smallSal col-6 text-light mt-2">
        <div class="calenderTheaterBorder"><h5><i class="fa fa-film mr-2" aria-hidden="true"></i>Lilla Salongen</h5></div>
        ${this.renderShowTime('Wind River', 'Wind2')}
        ${this.renderShowTime('Tjuren Ferdinand', 'Tjuren2')}


      </div>
    </div>
  </section>


`;}});
