Object.assign(Navbar.prototype, { template(){ return `
<div class="container-fluid">
  <div class="row">
    <nav class="navbar col-12 navbar-expand-lg navbar-dark">
      <a class="navbar-brand col-4 ml-5 pop" data-movie="/"><img src="/img/gfx/in_progress/logo_10_forslag_inverted.png" class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse col-12 col-md-8 navbar-collapse" id="navbarNav">
        <ul class="navbar-nav col-12">
          <li class="nav-item active">
            <a class="nav-link" href="#">Start<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Filmer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Priser</a>
          </li>
          <li class="nav-item">

            <div class="inlogg">
              <a class="btn btn-secondary" data-toggle="collapse" href="#login" role="button" aria-expanded="false" aria-controls="login">
                Skapa konto
              </a>
              <div class="collapse" id="login">
                <div class="card card-body">
                  <div class="input-group mt-2 input-group mb-3">
                    <div class="input-group-prepend pl-0 col-4">
                      <span class="input-group-text mr-3" id="inputGroup-sizing-sm">Email:</span>
                    </div>
                      <input type="email" id="username" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                  <div class="input-group input-group mb-3">
                    <div class="input-group-prepend pl-0 col-4">
                      <span class="input-group-text mr-3" id="inputGroup-sizing-sm">Namn:</span>
                    </div>
                      <input type="text" id="name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>

                  <div class="input-group input-group mb-3">
                    <div class="input-group-prepend pl-0 col-4">
                      <span class="input-group-text mr-3" id="inputGroup-sizing-sm">Lösenord:</span>
                    </div>
                    <input type="password" id="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>

                  <button type="button" id="loginbtn" class="btn btn-danger">Skapa konto</button>
                </div>
              </div>
          </div>
          </li>
        </ul>
      </div>


    </nav>
  </div>
</div>



`;}});
