Object.assign(Navbar.prototype, { template(){ return `
<div class="container-fluid">
<div class="row">
    <nav class="navbar col-12 navbar-expand-lg navbar-dark">
      <a class="navbar-brand col-8 col-lg-3 ml-0 ml-lg-5 pop" href="/"><img src="/img/gfx/in_progress/logo_10_forslag_inverted.png" class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-lg-6" id="navbarNav">

        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Startsida<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pop" href="/our_theaters">Om oss</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-lg-auto renderForm text-center">

        </ul>
      </div>


    </nav>
</div>
</div>



`;}});
