Object.assign(OurTheaters.prototype, { template(){ return `

      <div class="d-flex col-12 mx-auto flex-column flex-lg-row">

        <div class="titeltext col-12 col-lg-2 mt-5 mb-3">
          <h2 class="title">Om oss</h2>
        </div>

      </div>

      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="infoombio col-12 col-lg-4">
          <h2 class="card-title2 mt-3 mb-4">Vår biograf</h2>
          <p>Adress: Filmvägen 1<p>
          <p>Vår biograf ligger på Filmvägen 1 och som vi kommer att gå in djupare på senare, så ligger det extremt centralt och perfekt för din bioupplevelse.</p>
          <h5 class="card-title2 mt-4 mb-4">Salonger</h5>
          <p>Vår biograf består av två olika salonger som vi då kallar för Stora och Lilla Salongen.</p>
          <p>Här på Filmvisarna AB har vi ett mindre antal salonger, för att vi fokuserar på kvalitet före kvantitet.</p>
        </div>  

        <div class="imgsalong2 col-10 col-lg-3 h-100 mt-5 mb-5">
          <img src="/img/salonger/salongbild5.jpg" class="img-fluid">
        </div>

        <div class="infoombio col-12 col-lg-4">
          <h2 class="card-title2 mt-3 mb-4">Historia</h2>
          <p>Filmvisarna AB bildades den 17 December 1909 och har sedan dess stabilt levererat kvalitetsfilmer och service. Filmvisarna AB är ett bolag av få som endast driver en biograf, men det är precis det som är guldgruvan. Det har gjort hela biokänslan hos Filmvisarna AB en lite mer speciell upplevelse, folk lockas från hela landet för att kunna besöka denna unika och fräscha biograf.</p>
          <h5 class="card-title2 mt-4 mb-4">Senare åren</h5>
          <p>Åren som leder upp tills nu har Filmvisarna AB fokuserat hårt på att öka utbudet och kompromissa med närliggande företag, detta för att kunna bilda en slags union inom biovärlden. Godisaffärer, livsmedelsbutiker och så många fler har stöttat Filmvisarna AB och fortsätter med det, vilket har lett till Filmvisarna AB's positiva rykte i dagsläget.</p>
        </div>

      </div>

      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="separator col-12 mt-5 mb-5">
        </div>

      </div>

      <div class="d-flex col-12 mx-auto flex-column flex-lg-row">

        <div class="titeltext col-12 col-lg-2 mb-3">
          <h2 class="title">Regler</h2>
        </div>

      </div>


      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="infoombio col-12 col-lg-4">
          <h3 class="card-title2 mt-3 mb-5">Åldersgränser</h3>
          <li>Barntillåten. Får ses på bio av alla oavsett ålder.</li>
          <li>Från 7 år. Får ses på bio av barn som fyllt 7 år.</li>
          <li>Från 11 år. Får ses på bio av barn som fyllt 11 år.</li>
          <li>Från 15 år. Får ses av personer som fyllt 15 år.</li>

          <h4 class="card-title2 mt-5">Mat</h4>
          <li>Medtag av egen mat är förbjuden.</li>
          <li>Ingen grillning i salongen.</li>
          <li>Endast godis, popcorn eller liknande snacks i salongen.</li>
        </div>

        <div class="imgsalong col-10 col-lg-3 h-100 mt-5 mb-5">
          <img src="/img/salonger/salongbild2.jpg" class="img-fluid">
        </div>

        <div class="infoombio col-12 col-lg-4">
          <h3 class="card-title2 mt-3 mb-5">Kameror och mobiler</h3>
          <li>Inga kameror är tillåtna i salongen.</li>
          <li>Vid inspelning av film tillkallas polisen.</li>
          <li>Stäng av mobiler eller sätt på ljudlöst.</li>
          <li>Användning av mobil under filmen är inte tillåtet.</li>

          <h4 class="card-title2 mt-5">Piratkopiering</h4>
          <li>Ingen inspelning är tillåten.</li>
          <li>Vid inspelning tillkallas polis.</li>
          <li>Vid inspelning så blir du förbjuden att komma till bion igen.</li>
        </div>

      </div>


      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="separator col-12 mt-5 mb-5">
        </div>

      </div>

      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="titeltext col-12 col-lg-2 mb-3">
          <h2 class="title">Ljud och Bild</h2>
        </div>

      </div>

      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="infoombio col-12 col-lg-3">
          <h3 class="card-title2 mt-3 mb-4">Ljud</h3>
          <p>Ljudet som kommer ur IMB är 5.1 eller 7.1 beroende på salong och film. Avsikten är att göra alla salonger till minst 7.1 i framtiden. Signalen går till ljudprocessorn, som är spindeln i nätet i ljudracken. Processorn packar upp AES-EBU signalen och skickar det analoga ljudet till lämpligt slutsteg.</p>
          <p>All ljudutrustning är samlad i två rackar i projektorrummets bakre del. Slutstegen syns längst till vänster. De är av switchad, pulsbreddsmodulerad typ. De allra minsta biosalongerna har slutsteg med 600 watts uteffekt, medan de större hamnar i kilowattklassen. Apparatlådorna med röda kanter är ljudprocessorer från Dolby, av olika typ och årgång.</p>
          <p>Ljudet matas på tämligen grovt kablage ut i salongen. Sido- och bakkanalerna spelar ur ganska små väggplacerade högtalare i salongen, medan höger, vänster och mittkanal byggts upp med rediga exponentialhorn, placerade bakom duken.</p>
          <p>Framtiden innebär att det kommer att komma ett antal varianter av så kallat Immersive Sound, med vilket man ska kunna lokalisera ljud i tre dimensioner i biosalongen. Alltså: ännu fler högtalare. Dolby har sitt immersive-system och IMAX ett annat. I gängse ljudsystem lokaliseras ljudet i kanaler men nu kommer det att handla om 3D-koordinater</p>
        </div>

        <div class="imgbild col-10 col-lg-4 h-100 mt-5 mb-5">
          <img src="/img/salonger/salongbild3.jpg" class="img-fluid">
        </div>

        <div class="infoombio col-12 col-lg-3">
          <h3 class="card-title2 mt-3 mb-4">Bild</h3>
          <p>Projektorerna på Filmvisarna AB är av typerna Barco DP4K-32B och DP2K-12C. DP4K-32B är en värsting med 33 000 lumens ljusstyrka, med ett kontrastförhållande på 2000:1 och en lampa på 6,5 kilowatt. Den kan visa 60 bilder per sekund eller 120 bps i High Frame Rate. Detta resulterar i en videoström på 625 Mbps. Den klarar filmdukar med upp till 32 meters bredd. Men så väger den 141 kilo också.</p>
          <p>Vanliga filmer visas i 24 bilder per sekund (bps) där varje bild visas två gånger för att ge en jämnare upplevelse, precis som det var när man körde fysisk biofilm. Vid vanlig 3D visas 24 bps per öga, alltså 48 bps totalt. Vid High Frame Rate 3D (som i The Hobbit) visas 48 bps per öga, alltså 96 bps totalt. När Avatar 2 kommer på biograferna, kommer den enligt rykten att visas i HFR 60, alltså 60 bps per öga, lika med 120 bps totalt.</p>
          <p>Projektorerna arbetar med DLP (spegelmoduler) från Texas Instruments, men inte med färghjul som i amatörprojektorer som åstadkommer färgerna som en serie röd-grön-blå bilder, utan med tre DLP-kretsar monterade på ett färgdelarprisma som bryter ned ljuset i rött, grönt och blått och sedan bryter ihop det igen och skapar en sann färgbild.</p>
        </div>

      </div>

      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="separator col-12 mt-5 mb-5">
        </div>

      </div>

      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="titeltext col-12 col-lg-3 mb-3">
          <h2 class="title">Godisbutiker</h2>
        </div>

      </div>

      <div class="d-flex col-11 mx-auto flex-column flex-lg-row">

        <div class="infoombio col-12 col-lg-3">
          <h3 class="card-title2 mt-4 mb-4">Vårt utbud</h3>
          <p>Filmvisarna AB har ett stort utbud av alla sorters godis, vi erbjuder godis, snacks och dricka. Vi har den senaste teknologin inom att göra de absolut finaste produkterna för din njutning. Vi fick nyligen in de senaste läskmaskinerna, där det finns en massor av alternativ när du ska välja din läsk. Inte nog med det så har vi fått in slushmaskiner, så om du är sugen på något extra kyligt så kan vi även erbjuda det.</p>
          <p>När det gäller vårt utbud med godis så får vi in färskt och nytt godis varje dag från våra leverantörer, så ingen behöver oroa sig över gammalt godis. Massor med smaker och typer som gör att vi är en av de största biografkedjorna, med ett sådant stort utbud av alla slags sötsaker.</p>
          <p>Vi har även extra kryddor och topping till era popcorn, detta för att ge lite mer kreativ frihet till hur just du vill att dina popcorn ska smaka. Vi funderar även på flera sorters topping men vi avvaktar för att komma fram till perfektion.</p>
        </div>

        <div class="imgbild col-10 col-lg-4 h-100 mt-5 mb-5">
          <img src="/img/salonger/godisbild1.jpg" class="img-fluid">
        </div>

        <div class="infoombio col-12 col-lg-3">
          <h3 class="card-title2 mt-4 mb-4">Godisbutiker i närheten</h3>
          <p>Skulle inte utbudet vi har att erbjuda räcka så finns det ett antal godisbutiker inom ett gångavstånd, vi har Hemmakväll, Godiskungen och Candy Store. Det må vara lite dyrare än våra priser, men deras utbud kan vara lite annorlunda än vårt. Detta är vad som gör det så mycket bättre för just våra biografer. Allt man kan tänkas behöva för den ultimata bioupplevelsen finns inom ett gångavstånd. Därför är vi på Filmvisarna AB stolta över att vi väljer våra biograf platser på de mest lönsamma platserna runtom i Sverige, även utanför Sverige har vi sett alternativ för expansion. Men vi behöver komma fram till det perfekta konceptet innan vi utökar våra vyer mer.</p>
          <p>Det finns även några livsmedelsbutiker i närheten som kan erbjuda allt du kan tänka dig till ditt biomys, COOP, ICA eller City Gross har vad som behövs.</p>
          <p>Med detta så har vi en väldigt sammanslagen fin kedja av produkter både från vårt ubud och våra närliggande företag som gör allt för att ge den service som behövs för ett det ultimata nöjespaketet.</p>
        </div>

      </div>

`;}});