Object.assign(StartPage.prototype, { template(){ return `

  <article class="row">

    <section class="col-lg-8 d-flex flex-wrap d-md-block">

      <div class="col-6 col-md-12 bg-light mt-5 d-flex pt-2">
        <div class="m-md-3 m-ml-0 col-md-3">
          <img src="/img/posters/three_billboards.jpg" class="img-fluid mb-2">
          <p class="d-md-none">Three Billboards Outside Ebbing, Missouri</p>
        </div>
        <div class="mt-2 d-none d-md-flex flex-md-column">
          <h2>Three Billboards Outside Ebbing, Missouri</h2>
          <p>Från Oscar®vinnaren Martin McDonagh kommer ett mörkt skruvat drama, THREE BILLBOARDS OUTSIDE EBBING, MISSOURI, där Frances McDormand spelar huvudrollen som den förtvivlade Mildred Hayes...</p>
          <button type="button" class="btn btn-success align-self-end ml-auto" data-movie="Call Me By Your Name">Boka nu!</button>
        </div>
      </div>

      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/zN9PDOoLAfg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
      <div class="col-6 col-md-12 bg-light mt-5 d-flex pt-2">
        <div class="m-md-3 m-ml-0 col-md-3">
          <img src="/img/posters/three_billboards.jpg" class="img-fluid mb-2">
          <p class="d-md-none">That other movie</p>
        </div>
        <div class="mt-2 d-none d-md-flex flex-md-column">
          <h2>Three Billboards Outside Ebbing, Missouri</h2>
          <p>Från Oscar®vinnaren Martin McDonagh kommer ett mörkt skruvat drama, THREE BILLBOARDS OUTSIDE EBBING, MISSOURI, där Frances McDormand spelar huvudrollen som den förtvivlade Mildred Hayes...</p>
          <button type="button" class="btn btn-success align-self-end ml-auto">Boka nu!</button>
        </div>
      </div>

      <div class="col-6 col-md-12 bg-light mt-5 d-flex pt-2">
        <div class="m-md-3 m-ml-0 col-md-3">
          <img src="/img/posters/three_billboards.jpg" class="img-fluid mb-2">
          <p class="d-md-none">Shortname Movie</p>
        </div>
        <div class="mt-2 d-none d-md-flex flex-md-column">
          <h2>Three Billboards Outside Ebbing, Missouri</h2>
          <p>Från Oscar®vinnaren Martin McDonagh kommer ett mörkt skruvat drama, THREE BILLBOARDS OUTSIDE EBBING, MISSOURI, där Frances McDormand spelar huvudrollen som den förtvivlade Mildred Hayes...</p>
          <button type="button" class="btn btn-success align-self-end ml-auto">Boka nu!</button>
        </div>
      </div>

      <div class="col-6 col-md-12 bg-light mt-5 d-flex pt-2">
        <div class="m-md-3 m-ml-0 col-md-3">
          <img src="/img/posters/three_billboards.jpg" class="img-fluid mb-2">
          <p class="d-md-none">A Fourth Movie That Probably Sucks</p>
        </div>
        <div class="mt-2 d-none d-md-flex flex-md-column">
          <h2>Three Billboards Outside Ebbing, Missouri</h2>
          <p>Från Oscar®vinnaren Martin McDonagh kommer ett mörkt skruvat drama, THREE BILLBOARDS OUTSIDE EBBING, MISSOURI, där Frances McDormand spelar huvudrollen som den förtvivlade Mildred Hayes...</p>
          <button type="button" class="btn btn-success align-self-end ml-auto">Boka nu!</button>
        </div>
      </div>

    </section>

  <section class="col-lg-3">
    <div class="bg-light mt-5 p-2">
      <h3>Kalendarium</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
      </ul>
    </div>
  </section>

  </article>

`;}});
