Object.assign(StartPage.prototype, { template(){ return `

  <article class="row">

        <section class="col-lg-7 d-flex flex-wrap d-md-block">
          <h3 class="kalendarium mt-5">Filmer</h3>
          <div class="row">
            <!-- <div class="card col-12 col-md-6 bg-dark mt-2">
              <img class="card-img-top" src="/img/posters/three_billboards.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title text-white">Three Billboards Outside Ebbing, Missouri</h4>
                <button type="button" class="btn align-self-end ml-auto bg-info text-light btn-info">Visa mer!</button>
              </div>
            </div> -->
            ${this.renderMovie("Wind River")}

            <!-- <div class="card col-12 col-md-6 bg-dark mt-2">
              <img class="card-img-top" src="/img/posters/three_billboards.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title text-white">Three Billboards Outside Ebbing, Missouri</h4>
                <button type="button" class="btn align-self-end ml-auto bg-info text-light btn-info">Visa mer!</button>
              </div>
            </div> -->
            ${this.renderMovie("Tjuren Ferdinand")}
          </div>

          <div class="row">
            <!-- <div class="card col-12 col-md-6 bg-dark mt-4">
                <img class="card-img-top" src="/img/posters/three_billboards.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title text-white">Three Billboards Outside Ebbing, Missouri</h4>
                  <button type="button" class="btn align-self-end ml-auto bg-info text-light btn-info">Visa mer!</button>
                </div>
              </div> -->
            ${this.renderMovie("Three Billboards Outside Ebbing, Missouri")}

              <!-- <div class="card col-12 col-md-6 bg-dark mt-4">
                <img class="card-img-top" src="/img/posters/three_billboards.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title text-white">Three Billboards Outside Ebbing, Missouri</h4>
                  <button type="button" class="btn align-self-end ml-auto bg-info text-light btn-info">Visa mer!</button>
                </div>
              </div> -->
            ${this.renderMovie("Call Me By Your Name")}
            </div>
          
        </section>
        
        <section class="col-lg-5 mt-5">
          <h3 class="kalendarium">Kalendarium</h3>
          <div class="d-flex flex-nowrap bg-dark mt-3 main-card">
            <div class="bigSal col-6 text-light mt-2">
              <h5>Stora Salongen</h5>
              
              <!-- <div>
                <a class="d-block" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><strong>Titanic</strong><i class="fa fa-arrows-v float-right" aria-hidden="true"></i></a>
              </div>
              <div class="collapse" id="collapseExample">
                <div class="card card-body text-dark">
                  <div class="row">
                    <ul class="col-md-6 dates">
                      <h6>Date</h6>
                      <li><a>10/12</a></li>
                      <li><a>11/12</a></li>
                      <li><a>12/12</a></li>
                    </ul>
                    <ul class="col-md-6 times">
                      <h6>Time</h6>
                      <li><a>13.00</a></li>
                      <li><a>13.00</a></li>
                      <li><a>13.00</a></li>
                    </ul>
                  </div>
                </div>
              </div> -->

              <!-- Add new movie -->
              <div>
                <a class="d-block" data-toggle="collapse" data-target="#2" aria-expanded="false" aria-controls="collapseExample"><strong class="title">Call me by your name</strong><i class="fa fa-arrows-v float-right" aria-hidden="true"></i></a>
              </div>
              <div class="collapse" id="2">
                <div class="card card-body text-dark">
                  <div class="row">
                    <ul class="col-md-6 dates">
                      <h6>Date</h6>
                      <li><a>10/12</a></li>
                      <li><a>11/12</a></li>
                      <li><a>12/12</a></li>
                    </ul>
                    <ul class="col-md-6 times">
                      <h6>Time</h6>
                      <li><a>13.00</a></li>
                      <li><a>13.00</a></li>
                      <li><a>13.00</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
              
            <div class="smallSal col-6 text-light mt-2">
              <h5>Lilla Salongen</h5>
              <div>
                <a class="d-block" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2"><strong>Into the woods</strong><i class="fa fa-arrows-v float-right" aria-hidden="true"></i></a>
              </div>
              <div class="collapse" id="collapseExample2">
                <div class="card card-body text-dark">
                  <div class="row bord">
                    <ul class="col-md-6 dates">
                      <h6>Date</h6>
                      <li><a>10/2</a></li>
                      <li><a>11/2</a></li>
                      <li><a>12/2</a></li>
                    </ul>
                    <ul class="col-md-6 times">
                      <h6>Time</h6>
                      <li><a>15.00</a></li>
                      <li><a>15.00</a></li>
                      <li><a>15.00</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Add new movie -->
              <div>
                <a class="d-block" data-toggle="collapse" data-target="#3" aria-expanded="false" aria-controls="collapseExample2"><strong>Tjuren Ferdinand</strong><i class="fa fa-arrows-v float-right" aria-hidden="true"></i></a>
              </div>
              <div class="collapse" id="3">
                <div class="card card-body text-dark">
                  <div class="row">
                    <ul class="col-md-6 dates">
                      <h6>Date</h6>
                      <li><a>10/2</a></li>
                      <li><a>11/2</a></li>
                      <li><a>12/2</a></li>
                    </ul>
                    <ul class="col-md-6 times">
                      <h6>Time</h6>
                      <li><a>15.00</a></li>
                      <li><a>15.00</a></li>
                      <li><a>15.00</a></li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>
          </div>
      </section>

      </article>

`;}});
