Object.assign(StartPage.prototype, { template(){ return `

  <article class="row">

    <section class="col-lg-7 d-flex flex-wrap d-md-block mt-5 leftContainer p-0">
      <div class="px-2 col-12"><h3 class="redHeader m-0 col-12 mb-3"><i class="fa fa-film mr-3" aria-hidden="true"></i>Filmer</h3></div>
      <div class="movieContainer">
        <div class="d-flex flex-wrap justify-content-center">
          ${this.renderMovie("Wind River")}
          ${this.renderMovie("Tjuren Ferdinand")}

          <div class="col-12 d-md-none"></div>

          ${this.renderMovie("Call Me By Your Name")}
          <div class="d-none d-md-block col-md-12"></div>

          ${this.renderMovie("Three Billboards Outside Ebbing, Missouri")}
          <div class="col-12 d-md-none"></div>
          ${this.renderMovie("The Party")}
          ${this.renderMovie("Let The Sunshine In")}
        </div>
      <div class="">
    </section>

  </article>

`;}});
