*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
html body {
  background-color: #f4ffff;
}
footer {
  background-color: #add8e6;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 30px;
  /* Vertically center the text there */
  border-top: 1px solid #e0e0e0;
}
footer .color {
  background-color: #deeff5;
  border-radius: 20px 20px;
  padding: 10px 30px;
}
footer p {
  line-height: 1.6em;
  margin-bottom: 0;
  color: #3f3f3f;
}
footer p .fa {
  line-height: 30px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
footer p .fa-facebook {
  background: #3B5998;
  color: white;
}
footer p .fa-envelope,
footer p .fa-address-card,
footer p .fa-phone {
  background: black;
  color: white;
}
footer p a,
footer p a:hover {
  color: #3f3f3f;
}
footer .myheight {
  height: 120px;
}
.info-box {
  background-color: #add8e6;
}
.info-box li {
  list-style: none;
}
#accordion {
  box-shadow: 0px 0px 6px #000;
  background-color: #add8e6;
}
#accordion .listShowTimes {
  list-style: none;
  margin-left: -40px;
}
#accordion .listShowTimes li:nth-child(odd) {
  background-color: #FFF;
}
#accordion a {
  color: #000;
}
header {
  background-color: #add8e6;
  box-shadow: 0px 3px 15px #000;
  font-size: 1.3em;
}
