.myloginform {
	width: 300px;
	left: 50% !important;
	right: auto !important;
	transform: translate(-50%, 0) !important;
	h3 {
		text-align: center;
	}
}

.redbtn {
	background-color: @mainRed;
	border: 1px solid @mainColor;
}
