.kalendarium {
	text-align: center;
	border-bottom:1px solid black;
}

.bigSal{
border-right: 2px solid black;
}

.container-box{
	display: flex;

	ul{
		list-style: none;
		padding-left: 10px;
		left:0;
	}
}


.dropdown{
	float: right;
	padding-top:10;
	margin-left: 30px;
	background-color: lightgray;
	width:15px;
	text-align: center;
}



.item-container{

}

.movie-dates {
	display: none;
	border: 1px solid black;
}












