.kalendarium {
	text-align: center;
	border-bottom:1px solid black;
	background: linear-gradient(red,black);
	color: white;
	box-shadow: 1px 1px 1px 1px;
}

.card ul{
	list-style: none;
}

.dates li:nth-child(even){
	background:lightgray;
}

.times li:nth-child(even){
	background:lightgray;
}

.dates, .times{
	padding:0;
}

.bigSal{
	border-right:1px dashed white;

	h5{
		border-bottom: 1px dashed white;
	}
}

.smallSal{
	h5{
		border-bottom: 1px dashed white;
	}
}

.d-block:hover{
	background-color: #2f4f4f;
}

.card:focus{
	background-color: red;
}

.d-block{
	height: 47px;
}

.main-card{
	border-radius: 10px;
}
/*.bigSal{
	border-right: 2px solid black;

}

.container-box{
	display: flex;

	ul{
		list-style: none;
		padding-left: 10px;
		left:0;
	}
}

.kalend-box{
	box-shadow: 2px 2px 2px 2px;
	border-radius: 10px;
}

.dropdown{
	float: right;
	padding-top:10;
	margin-left: 30px;
	background-color: lightgray;
	width:15px;
	text-align: center;
}

.movie-dates {
	display: none;
}*/









