.info-box {
  background-color: @mainColor;
  li {
  list-style: none;
  }
}

main {


}

#accordion {
  box-shadow: 0px 0px 6px #000;
  background-color: @mainColor;

  .listShowTimes {
    list-style: none;
    margin-left: -40px;
    li:nth-child(odd) {
      background-color: #FFF;
    }
  }
  a {
    color: #000;
  }
}
