.info-box {
  background-color: @mainColor;
  li {
  list-style: none;
  }
}

#accordion {
  box-shadow: 0px 0px 6px #000;

  div {
    background-color: @mainColor;
  }
  a {
    color: #000;
  }
}
