.lillasalong {
	margin: auto;
}

.storasalong {
	margin: auto;
}

.salonger {
	border-bottom: 1px solid black;
    background: #991e1e;
    color: white;
    border-radius: 30px 10px;
    padding: 15px 22px;
    box-shadow: 0px 2px 2px #000;
    text-align: center;
    margin: auto;
}

.titeltext {
	border-bottom: 1px solid black;
    background: #991e1e;
    color: white;
   	border-radius: 30px 10px; 
    padding: 15px 22px;
    box-shadow: 2px 2px 2px #000;
    text-align: center;
    margin: auto;
}

.regler {
	margin: auto;

	h2 {
	text-align: center;
	}
}

.imgsalong {
	background: #991e1e;
	border-bottom: 14px solid #991e1e;
	border-top: 14px solid #991e1e;
    box-shadow: 2px 2px 2px #000;
	border-radius: 30px 10px; 
    margin: auto;
    width: auto;

    img{
    	border-radius: 30px 10px; 
    }
}

.imgsalong2 {
    background: #991e1e;
    border-bottom: 14px solid #991e1e;
    border-top: 14px solid #991e1e;
    box-shadow: 2px 2px 2px #000;
    border-radius: 30px 10px; 
    margin: auto;
    width: auto;
    max-height: 400px;
    max-width: 500px;

    img{
        border-radius: 30px 10px; 
        max-height: 350px;
    }
}

.imgbild{
	background: #991e1e;
	border-bottom: 14px solid #991e1e;
	border-top: 14px solid #991e1e;
    box-shadow: 2px 2px 2px #000;
	border-radius: 30px 10px; 
    margin: auto;

    img{
    	border-radius: 30px 10px; 
    }
}
.biografer {

}

.info {
	margin: auto;
}

.separator {
    background-color: #991e1e;
    margin: auto;
    width: 85%;
    height: 20px;
    box-shadow: 4px 4px 4px black;
    border-radius: 30px 10px; 
    border-bottom: 14px solid #991e1e;
    border-top: 14px solid #991e1e;
}

.infoombio {
    width: auto;
    .card {
        min-height: 460px;
    }
}