.booked {
	background-color: red !important;
}
.reserved {
	background-color: orange !important;
}

#seat {
	width: 50px;
	height: 50px;
	border: 1px solid white;
	background-color: green;
	border-radius: 15px;
	text-align: center;
	color: white;
	/*font-weight: bold;*/

}

#seat:hover {
	background-color: yellow;
}

#theaterBackground {
	position: relative;
	background-size: cover;
	background-position: center;
	&:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top, rgba(0,0,0, 0.6), rgba(0,0,0, 0.9));
  }
}

#pensionerTickets, #adultTickets, #childTickets, .removebtn, .addbtn {
	width: 40px;
	text-align: center;
	border: 0;
}



.curtain {
	width: 65%;
	height: 15%;
}

#theater-holder {
	justify-content: center;
	overflow: hidden;
  /* set width and height from js*/
}

#theater {
  transform-origin: 0 0;
	background: #000;
}
